<style>
        *{
            margin:0;
            padding:0;
            font-family: nunito;
        }

        main{
           background-color: #0c192c;
           width: 210px;
           height: 360px;
           border-radius: 20px;
           padding-top: 20px;
           padding-left: 20px;
            
        }
        section{
            background-color: #15273f;
            border-radius: 10px;
            width: 190px;
            height: 350px;
        }

        h1{
            color: white;
            font-family: nunito;
            font-size: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 25px;
        }
        
        


        #cubito{
            
            width: 150px;
            height: 150px;
            margin-left: 20px;
            margin-top:20px;
            border-radius: 25px;
            
            
        }

        #linea1{
            color: #7d93b1;
            font-size: 10px;
            /*padding-bottom: 40px;*/
            padding-left: 25px;
            text-align: center;
        }

        #linea2{
            color: #7d93b1;
            font-size: 10px;
            padding-left: 25px;
            
        }

        #rombito{
            width: 8px;
            padding-top: 10px;
            padding-left: 25px;
            
        }
        #linea3{
            color:#2acecf;
            font-size: 10px;
        }

        #relojito{
            margin-left: 25px;
            width: 9px;
        }

        #linea4{
            color: #7d93b1;
            font-size: 11px;
            
        }

        #raya{
            color: #7d93b1;
            font-size: 10px;
            padding-left: 25px;
            
        }

        #caraAutor{
            width:12px;
            padding-top: 10px;
            padding-left: 22px;
        }
        
        #lineaAutor1{
            color: #7d93b1;
            font-size: 10px;
            
        }

        #lineaAutor2{
            color:#f1fcfe;
            font-size: 10px;
        }
    </style>